[Desktop Entry]
Encoding=UTF-8
Name=Papirus Folder Colors
Name[ca]=Papirus Folder Colors
Name[de]=Papirus Folder Colors
Name[el]=Papirus Folder Colors
Name[es]=Papirus Folder Colors
Name[fr]=Papirus Folder Colors
Name[fr_BE]=Papirus Folder Colors
Name[hi]=Papirus Folder Colors
Name[id]=Papirus Folder Colors
Name[it]=Papirus Folder Colors
Name[ja]=Papirus Folder Colors
Name[nl]=Papirus Folder Colors
Name[pl]=Papirus Folder Colors
Name[pt_BR]=Papirus Folder Colors
Name[ru]=Papirus Folder Colors
Name[sv]=Papirus Folder Colors
Comment=Create a papirus icon theme with different colored folders
Comment[ca]=Create a papirus icon theme with different colored folders
Comment[de]=Create a papirus icon theme with different colored folders
Comment[el]=Create a papirus icon theme with different colored folders
Comment[es]=Create a papirus icon theme with different colored folders
Comment[fr]=Create a papirus icon theme with different colored folders
Comment[fr_BE]=Create a papirus icon theme with different colored folders
Comment[hi]=Create a papirus icon theme with different colored folders
Comment[id]=Create a papirus icon theme with different colored folders
Comment[it]=Create a papirus icon theme with different colored folders
Comment[ja]=Create a papirus icon theme with different colored folders
Comment[nl]=Create a papirus icon theme with different colored folders
Comment[pl]=Create a papirus icon theme with different colored folders
Comment[pt_BR]=Create a papirus icon theme with different colored folders
Comment[ru]=Create a papirus icon theme with different colored folders
Comment[sv]=Create a papirus icon theme with different colored folders
Exec=papirus-folder-colors
Terminal=false
Type=Application
Icon=papirus-folder-colors
Categories=Settings;
NoDisplay=false
